{% extends "admin/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {% if has_multiselect %}{% render_bundle 'select2' 'css' %}{% endif %}
{% endblock extrastyle %}

{% block extrahead %}
    {% if has_multiselect %}{% render_bundle 'select2' 'js' %}{% endif %}
{% endblock extrahead %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}