<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Leaderboard</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#homeSubmenu"><i class="fa fa-2x fas fa-home"></i>&MediumSpace;&MediumSpace;Home</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-2x fas fa-search"></i>&MediumSpace;&MediumSpace;Browse Boards</a>
        </li>
    </ul>
    <ul class="list-unstyled components">
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-2x fas fa-user-circle"></i>&MediumSpace;&MediumSpace;Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
