:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-tertiary: #141418;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-tertiary: #b6b6b6;
  --transition-speed: 300ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  padding: unset;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  position: relative;
  z-index: 1;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: var(--transition-speed);
}

.link-icon,
.logo-icon,
.collapse-icon {
  svg {
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
}

.nav-link:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);

  .link-icon {
    background-color: var(--bg-secondary);
  }

  .link-icon,
  .logo-icon,
  .collapse-icon {
    svg {
      filter: grayscale(0%) opacity(1);
    }
  }
}

.link-text {
  position: relative;
  left: -999;
  z-index: 0;
  white-space: nowrap;
  margin-left: 1rem;
  transition: var(--transition-speed);
}

.link-icon {
  position: relative;
  z-index: 1;
  transition: var(--transition-speed);
  background-color: var(--bg-primary);
}

.collapse-icon {
  position: relative;
  left: -999;
  transition: var(--transition-speed);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

svg path {
  color: #ff7eee;
}

svg path {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Sub navs */
.nav-item.dropdown {
  z-index: 2;
  overflow: visible;

  &:hover {
    .dropdown-menu {
      max-height: 100vh;
      left: 5rem;
    }
  }

  & .dropdown-menu {
    background-color: var(--bg-tertiary);
    // display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-height: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    transition: var(--transition-speed);

    .dropdown-item {
      @extend .nav-link;

      .link-text {
        left: 0;
      }

      color: var(--text-tertiary);
    }
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

#content {
  margin-left: unset;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  #content {
    margin-left: 5rem;
  }

  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover {
    .link-text,
    .collapse-icon {
      left: 0;
    }
    .logo-icon {
      svg {
        filter: grayscale(0%) opacity(1);
      }
    }
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
